# virtual env
.venv/
# dataset i privremeni fajlovi
data/raw/
data/processed/*.npz
data/processed/*.npy
# modeli i težine (dok ne poželiš da ih gurneš)
models/
# jupyter
.ipynb_checkpoints/
# OS/IDE
.DS_Store
Thumbs.db
.vscode/
